- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _("Vulnerability List"), project_security_vulnerabilities_path(@project)
- breadcrumb_title @vulnerability.id
- page_title @vulnerability.title
- page_description @vulnerability.description

#js-vulnerability-management-app{ data: vulnerability_data(@vulnerability, @pipeline) }

.issue-details.issuable-details
  .detail-page-description
    %h2.title= @vulnerability.title
    .description
      .md
        %h3= "Description"
        %p= @vulnerability.finding.description
        %ul
          %li= _("Severity: %{severity}") % { severity: @vulnerability.severity }
          %li= _("Confidence: %{confidence}") % { confidence: @vulnerability.confidence }
          %li= _("Report Type: %{report_type}") % { report_type: @vulnerability.report_type }

          - if @vulnerability.finding.location["image"]
            %li= _("Image: %{image}") % { image: @vulnerability.finding.location['image'] }

          - if @vulnerability.finding.location["operating_system"]
            %li= _("Namespace: %{namespace}") % { namespace: @vulnerability.finding.location['operating_system'] }

        - if @vulnerability.finding.links.any?
          %h3= _("Links")
          %ul
            - @vulnerability.finding.links.each do |link|
              %li
                %a{ :href=>link["url"], target: "_blank", rel: 'noopener noreferrer' }= link["url"]

        - if @vulnerability.finding.identifiers.any?
          %h3= _("Identifiers")
          %ul
            - @vulnerability.finding.identifiers.each do |identifier|
              %li
                %a{ :href=>identifier.url, target: "_blank", rel: 'noopener noreferrer' }= identifier.name

#js-vulnerability-footer{ data: vulnerability_data(@vulnerability, @pipeline) }
